<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Listing</title>
</head>
<body>
    <h1>entre your details</h1>
    <form method="post" action="/listing">
        <input name="listing[title]" placeholder="Enter the villa name" type="text" required><br><br>
        <input name="listing[description]" placeholder="Enter the description" type="text" required><br><br>
        <input name="listing[image]" placeholder="Enter your villa image URL" type="text" ><br><br>
        <input name="listing[price]" placeholder="Enter your price" type="number" required><br><br>
        <input name="listing[location]" placeholder="Enter your location" type="text" required><br><br>
        <input name="listing[country]" placeholder="Enter the area name" type="text" required><br><br>
        <button type="submit">Add</button>
    </form> 
</body>
</html>
